@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



  h1{
  margin-bottom: 0;
  color:#0F1035;
  margin-top: 0;
  font-style:italic; 
  font-size: 625%;
  font-family: 'Rubik Doodle Shadow', system-ui;
}
h6{
  margin-top: 0;
  font-size: 30px;
  font-style: italic;
  font-family: 'Pacifico', cursive;
  font-family: 'Satisfy', cursive; 
}
h3{
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.skill-tittle{
margin-right: 50%;
}
hr{
  border:hidden;
  border-color: white;
}

p{
  margin-top: 0;
  color:#064d79;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;

  
}

body{
margin: 0;
background-color:#92C7CF;
text-align: center;
font-family:Arial, Helvetica, sans-serif
}

.firstdiv{
  background-color: #92C7CF;
  margin: 0;
  position:relative;


}
.home{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
}
.home-left{
  width: 40vw;
  text-align:justify;
  padding: 200px;
   ;

}
.home-h1{
  font-size: 30px;
  font-family: 'DM Serif Display', serif;
}
.home-p{
  font-family:'Times New Roman', Times, serif;

}
.home-right{
  margin-right: 20%;
}
.home-img{
  position: relative;
  margin-top: 2%;
  margin-right: 55%;
  float: right;
}
.cloud1{
  width: 100px;
  margin-right: 50%;
  margin-top: 1%;
  position: relative;
   
}

.cloud2{
  width:200px;
  margin-right: -10%;
  margin-bottom: 0%;
  position: relative;
  
}


.mountain{
  position: relative 0 auto 0 auto;
  width: 600px;
}

.middle-container{
  margin-top: 2%;
  background-color: #92C7CF;
  font-family: 'Poppins', sans-serif;

}
.bottom-container{
  background-color: #92C7CF;
}
.myprof{
  position: relative;
  size: 800px;
  margin-top: 2%;
  margin-right: 30%;
  border-radius: 100%;
  font-family: 'Poppins', sans-serif;


}

.skill1{
  font-family: 'Poppins', sans-serif;
  width: 260px;

}
.java{
  margin-top: 0%;
  width: 230px;
}
.skill2{
  width: 260px;

}
.skill-web{
margin-left: 50%;
}
.web{
  width: 270px;
}
.sql{
  width: 280px;
}
.button-img{
  background-color: #44d6ea;
  color: white;
  height: 30px;
  margin-top: 1%;
}
